<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SYPEX</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <link rel="stylesheet" th:href="@{/css/Design.css}">
    <link rel="shortcut icon" th:href="@{/images/SYPEX2.png}" />
    <style type="text/css">

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1, h2 {
  color: white;
  font-family: Trebuchet MS;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 6rem;
  margin-top: 30vh;
}

h2 { font-size: 3rem; }
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
    </style>
</head>

<body>
<div class="container-scroller">
    <video id="background-video" autoplay loop muted poster="/images/video.mp4">
    <source src="/images/video.mp4" type="video/mp4">
    </video>
    
<h1>WELCOME TO SYPEX </h1>
<h2><a id="myBtn" th:href="@{/login}">Login</a></h2>
<h2><a id="myBtn" th:href="@{/register}">Register</a></h2>
    </div>

    <!-- page-body-wrapper ends -->
<!-- container-scroller -->

<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/misc.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>
<script type="text/javascript">

    $(document).ready(function() {

        funApplicationDisabled();

        funContactDisabled();

        funProductDisabled();

    });

    function funApplicationDisabled() {
        $('#app-input-service-id').prop('readOnly', true);
        $('#app-input-name').prop('disabled', true);
        $('#app-input-icon').prop('disabled', true);
        $('#app-input-meta-desc').prop('disabled', true);
        $('#app-input-meta-key').prop('disabled', true);
        $('#app-input-meta-google-site').prop('disabled', true);
        $('#app-btn-cancel').prop('disabled', true);
        $('#app-btn-save').prop('disabled', true);
        $('#app-btn-edit').prop('disabled', false);
    }

    function funContactDisabled() {
        $('#contact-input-service-id').prop('readOnly', true);
        $('#contact-name').prop('disabled', true);
        $('#contact-phone').prop('disabled', true);
        $('#contact-sms').prop('disabled', true);
        $('#contact-hiMessage').prop('disabled', true);
        $('#contact-address').prop('disabled', true);
        $('#contact-email').prop('disabled', true);
        $('#contact-btn-cancel').prop('disabled', true);
        $('#contact-btn-save').prop('disabled', true);
        $('#contact-btn-edit').prop('disabled', false);
    }

    function funProductDisabled() {
        $('#product-input-uuid').prop('readOnly', true);
        $('#product-input-name').prop('disabled', true);
        $('#product-input-img-src').prop('disabled', true);
        $('#product-input-img-alt').prop('disabled', true);
        $('#product-input-href').prop('disabled', true);
        $('#product-input-price').prop('disabled', true);
        $('#product-input-brochure').prop('disabled', true);
        $('#product-btn-cancel').prop('disabled', true);
        $('#product-btn-save').prop('disabled', true);
        $('#product-btn-edit').prop('disabled', false);
    }

</script>


</body>
</html>