<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SYPEX</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <link rel="stylesheet" th:href="@{/css/Design.css}">
    <link rel="shortcut icon" th:href="@{/images/NVP.png}" />
    <style>
    #signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
  .mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: oranged;
    font-family: 'Open Sans', sans-serif;
  }
 .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 36px;
    border-radius: 50px;
    margin: 0 30px;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #fab469;
  text-align: center;
}
.inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.buttonWrapper {
  margin-top: 40px;
}
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background: linear-gradient(120deg, #fab469,#f73e1e);
    border-color: #f73e1e;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}
    </style>
</head>

<body>
<div class="container-scroller">

    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" th:href="@{#}">
                <img th:src="@{/images/SYPEXL.png}" alt="logo" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <!--  <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
                <span class="navbar-toggler-icon"></span>
            </button>-->
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown d-none d-xl-inline-block">
                    <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span class="profile-text">Bonjour, [[${#request.userPrincipal.principal.fullName}]] </span>
                        <img class="img-xs rounded-circle" th:src="@{/images/faces/user.jpg}" alt="Profile image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <a class="dropdown-item mt-2" th:href="@{/UpdatePassword}">
                            Changer mot de passe
                        </a>
                        <a class="dropdown-item" th:href="@{/logout}">
                           <span class="glyphicon glyphicon-log-out"></span>Se déconnecter
                        </a>
                    </div>
                </li>
            </ul>
              
        </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <div class="nav-link">
                        <div class="user-wrapper">
                            <div class="profile-image">
                                <img th:src="@{/images/faces/user.jpg}" alt="profile image">
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">[[${#request.userPrincipal.principal.fullName}]]</p>
                                <div>
                                    <small class="designation text-muted">[[${#request.userPrincipal.principal.getProfileName}]]</small>
                                    <span class="status-indicator online"></span>
                                </div>
                            </div>
                        </div>
                        <!-- <button class="btn btn-success btn-block">New Project
                            <i class="mdi mdi-plus"></i>
                        </button> -->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/Welcome_Page}">
                        <i class="menu-icon mdi mdi-television"></i>
                        <span class="menu-title">Home</span>
                    </a>
                </li>
                <li th:if="${#request.userPrincipal.principal.getProfileName} eq'Administrateur' OR ${#request.userPrincipal.principal.getProfileName} eq 'Utilisateur risque'" class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-account"></i>
                        <span class="menu-title"> Utilisateurs </span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Ruser}">Liste des Utilisateurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/RuserProfile}">Liste des Utilisateurs Profiles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Ruser/new}">Créer un Utilisateur</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/RuserProfile/new}">Créer un Utilisateur Profile</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li th:if="${#request.userPrincipal.principal.getProfileName} eq'Gérant' OR ${#request.userPrincipal.principal.getProfileName} eq 'Utilisateur risque'" class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#Cpnl" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-table"></i>
                        <span class="menu-title"> Paramétrages PNL </span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="Cpnl">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/CpnlSetting}">Liste des P PNL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/CpnlSettingDetail}">Liste des P PNL detailés</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/CpnlSetting/new}">Créer un P PNL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/CpnlSettingDetail/new}">Créer un P PNL detailé</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li th:if="${#request.userPrincipal.principal.getProfileName} eq'Gérant' OR ${#request.userPrincipal.principal.getProfileName} eq 'Utilisateur risque'" class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#Parametrage" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-tumblr-reblog"></i>
                        <span class="menu-title"> Paramétrages </span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="Parametrage">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Clistsys}">Liste des P Systèmes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Clistcust}">Liste des P Clients</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/CinputControl}">Liste des P Controles d'entrées</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Ccurve }">Liste des P Courbes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Clistcust/new}">Créer un P client</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/CinputControl/new}">Créer un P controle d'entrée</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Clistsys/new}">Créer un P système</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Ccurve/new}">Créer un P courbes</a>
                            </li>                           
                        </ul>
                    </div>
                </li>
                <li th:if="${#request.userPrincipal.principal.getProfileName} eq'Gérant' OR ${#request.userPrincipal.principal.getProfileName} eq 'Utilisateur risque'" class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#Device" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-coin"></i>
                        <span class="menu-title"> Devise </span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="Device">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Rcurrency}">Liste des devises</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Rcurrency/new}">Créer un devise</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
                <!-- partial -->
        <div class="main-panel">
                <div class="content-wrapper" layout:fragment="content">
                                 
        <div class="mainDiv">
  <div class="cardStyle">
  <div class="container">  
       
    <form th:action="@{/UpdatePassword/save}" method="post" name="signupForm" id="signupForm">
      
      <img th:src="@{/images/NVP.png}" id="signupLogo"/>
      
      <h2 class="formTitle">
        Modifier mot de passe
      </h2>
      <div th:if="${session.message}" class="container"> 
        <div th:classappend="${'alert-'+session.message.type}" class="alert alert-success text-center" role="alert"><span th:text="${session.message.content}"></span></div> 
           <th:block th:text="${#session.removeAttribute('message')}"></th:block>                      
            </div> 
    <div class="inputDiv">
      <label class="inputLabel" for="oldPassword">Ancien mot de passe</label>
      <input type="password" id="oldPassword" name="oldPassword" >
      <small></small>
    </div>
    
    <div class="inputDiv">
      <label class="inputLabel" for="newPassword">Nouvel mot de passe</label>
      <input type="password" id="newPassword" name="newPassword" >
      <small></small>
    </div>
      
    <div class="inputDiv">
      <label class="inputLabel" for="confirmPassword">Confirmer mot de passe</label>
      <input type="password" id="confirmPassword" name="confirmPassword">
      <small></small>
    </div>
    
    <div class="buttonWrapper">
      <button type="submit" id="submitButton" onclick="validateSignupForm()" class="submitButton pure-button pure-button-primary">
        <span>Valider</span>
        <span id="loader"></span>
      </button>
    </div>
      
  </form>
  </div>
</div></div>
</div>            </div>           </div>

<!-- partial:partials/_footer.html -->
         <footer class="footer">
                <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center"> © 2022 </span>
                </div>
            </footer> </div>
            <!-- partial -->
        <!-- main-panel ends -->


    <!-- page-body-wrapper ends -->
<!-- container-scroller -->

<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/misc.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>
<script type="text/javascript">

    $(document).ready(function() {

        funApplicationDisabled();

        funContactDisabled();

        funProductDisabled();

    });

    function funApplicationDisabled() {
        $('#app-input-service-id').prop('readOnly', true);
        $('#app-input-name').prop('disabled', true);
        $('#app-input-icon').prop('disabled', true);
        $('#app-input-meta-desc').prop('disabled', true);
        $('#app-input-meta-key').prop('disabled', true);
        $('#app-input-meta-google-site').prop('disabled', true);
        $('#app-btn-cancel').prop('disabled', true);
        $('#app-btn-save').prop('disabled', true);
        $('#app-btn-edit').prop('disabled', false);
    }

    function funContactDisabled() {
        $('#contact-input-service-id').prop('readOnly', true);
        $('#contact-name').prop('disabled', true);
        $('#contact-phone').prop('disabled', true);
        $('#contact-sms').prop('disabled', true);
        $('#contact-hiMessage').prop('disabled', true);
        $('#contact-address').prop('disabled', true);
        $('#contact-email').prop('disabled', true);
        $('#contact-btn-cancel').prop('disabled', true);
        $('#contact-btn-save').prop('disabled', true);
        $('#contact-btn-edit').prop('disabled', false);
    }

    function funProductDisabled() {
        $('#product-input-uuid').prop('readOnly', true);
        $('#product-input-name').prop('disabled', true);
        $('#product-input-img-src').prop('disabled', true);
        $('#product-input-img-alt').prop('disabled', true);
        $('#product-input-href').prop('disabled', true);
        $('#product-input-price').prop('disabled', true);
        $('#product-input-brochure').prop('disabled', true);
        $('#product-btn-cancel').prop('disabled', true);
        $('#product-btn-save').prop('disabled', true);
        $('#product-btn-edit').prop('disabled', false);
    }



  const form = document.getElementById('signupForm');


  form.addEventListener('submit', e => {
  	const OldPasswordValue = oldPassword.value.trim();
  	const NewPasswordValue = newPassword.value.trim();
  	const ConfirmPasswordValue = confirmPassword.value.trim();
  	
  	if( OldPasswordValue === '' || NewPasswordValue === '' || ConfirmPasswordValue ===''){
              e.preventDefault();
          }
  	if(OldPasswordValue === '') {
  		setErrorFor(oldPassword, 'veuillez remplir ce champ');
  		oldPassword.addEventListener('keyup',function(){
                  if(oldPassword.value.length !=""){
                      setSuccessFor(oldPassword);              
                    }
              })
          }
  	
  	if(NewPasswordValue === '') {
  		setErrorFor(newPassword, 'veuillez remplir ce champ');
  		newPassword.addEventListener('keyup',function(){
                  if(newPassword.value.length >= 2){
                      setSuccessFor(newPassword);              
                    }
              })
  		
  	}
  	
  	if(ConfirmPasswordValue === '') {
  		setErrorFor(confirmPassword, 'veuillez remplir ce champ');
  		confirmPassword.addEventListener('keyup',function(){
  			if(confirmPassword.value !=newPassword.value) {
  		  		setErrorFor(confirmPassword, 'Les mots de passe ne correspondent pas');
  		   }else{
  		  			setSuccessFor(confirmPassword);  }
  		  		
  		  		
  		  	
              })
  		
  	}
  	
  	
  	
  });

  function setErrorFor(input, message) {
  	const formControl = input.parentElement;
  	const small = formControl.querySelector('small');
  	formControl.className = 'inputDiv error';
  	small.innerText = message;
  }

  function setSuccessFor(input) {
  	const formControl = input.parentElement;
  	formControl.className = 'inputDiv success';
  }



  
    
</script>


</body>
</html>